@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

:root {
    --firstColor: #F5F5F5;
    --inputColor: #D9D9D9;
    --textColor: #000000;
}

body {
    background-color: var(--firstColor);
}

/*header start*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    margin-top: 20px;

}




.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

.right>ul li a {
    font-size: 16px;
    color: var(--textColor);
    cursor: pointer;
}

.right ul li:nth-child(4) {
    background: var(--textColor);
    border-radius: 20px;
    padding: 5px 20px;
}

.right ul li:nth-child(4)>a {
    color: var(--firstColor);
}

.right ul li:nth-child(4):hover {
    background-color: var(--inputColor);

}

.search {
    position: relative;
}

.search input {
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: var(--inputColor);
    outline: none;


}

.search i {
    position: absolute;
    right: 7px;
    top: 6px;
    color: var(--firstColor);
    cursor: pointer;
}


/*header end*/

/*main start*/
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 100px 0 100px;
}

.sec_left {
    flex: 1;
}

.sec_left h1 {
    margin-top: 20px;
    font-size: 48px;
    font-weight: 300;
}

.sec_left h3 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 50px;
    padding-bottom: 20px;
}

.sec_left p {
    margin-top: 40px;
}

.sec_left button {
    background-color: var(--inputColor);
    padding: 10px 40px;
    margin-top: 50px;
    border-radius: 20px 0 20px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;

}

.sec_left button:hover {
    background-color: darkgrey;
}

.sec_right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.sec_right img {
    width: 700px;

}

/*main end*/

/*footer start*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--textColor);
    color: var(--inputColor);
}

.footer-section h3 {
    font-weight: 400;
    margin-bottom: 20px;

}

.footer-section ul li a {
    color: var(--inputColor);
}

.footer-section ul li {
    cursor: pointer;
}

/*footer end*/


/*about start*/
.about {
    height: 450px;
    margin: 100px;
    background-color: var(--inputColor);
    border-radius: 20px;


}

.about h1 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 20px;

}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;


}


.line {
    height: 1px;
    background-color: #000;
    flex-grow: 1;
    margin: 0px 50px;

}

.left {
    margin-right: 0;
}

.right {
    margin-left: 0;
}

.about_content {
    padding: 20px 50px;

}

.about_content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}



/*about end*/

/*contact start*/
.contact_content {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.contact_content form {
    max-width: 400px;
    margin: 0 auto;
}

.contact_content label,
input,
textarea {
    display: block;
    margin-bottom: 5px;
    border-radius: 20px;
    border: none;
}

.contact_content input,
textarea {
    padding: 5px 50px;
}

.contact_content button {
    padding: 10px 30px;
    margin-top: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--firstColor);
    border-radius: 20px;

}

.adress h2 {
    font-weight: 600;
}

/*contact end*/