@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

:root {
    --firstColor: #F5F5F5;
    --inputColor: #D9D9D9;
    --textColor: #000000;
}

body {
    background-color: var(--firstColor);
}

/*header start*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    margin-top: 20px;

}




.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

 .right>ul li a {
    font-size: 16px;
    color: var(--textColor);
    cursor: pointer;
}

.right ul li:nth-child(4) {
    background: var(--textColor);
    border-radius: 20px;
    padding: 5px 20px;
}

.right ul li:nth-child(4)>a {
    color: var(--firstColor);
}

li:nth-child(4):hover {
    background-color: var(--inputColor);

}

.search {
    position: relative;
}

.search input {
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: var(--inputColor);
    outline: none;


}

.search i {
    position: absolute;
    right: 7px;
    top: 6px;
    color: var(--firstColor);
    cursor: pointer;
}


/*header end*/

/*main start*/
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 50px;
}

.sec_left {
    flex: 1;
}

.sec_left h1 {
    margin-top: 20px;
    font-size: 48px;
    font-weight: 300;
}

.sec_left h3 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 50px;
    padding-bottom: 20px;
}

.sec_left p {
    margin-top: 40px;
}

.sec_left button {
    background-color: var(--inputColor);
    padding: 10px 40px;
    margin-top: 50px;
    border-radius: 20px 0 20px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;

}

.sec_left button:hover {
    background-color: darkgrey;
}

.sec_right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.sec_right img{
    width: 700px;

}

/*main end*/

/*footer start*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
    padding: 50px ;
    background-color: var(--textColor);
    color: var(--inputColor);
    


}
.footer-section h3{
    font-weight: 400;
    margin-bottom: 20px;
    
}
.footer-section ul li a {
    color: var(--inputColor);
}

.footer-section ul li{
    cursor: pointer;
}

/*footer end*/